{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <div class="table-responsive-md">
        28.00
        <table class="table table-bordered table-striped mx-auto w-75">
            <thead>
                <tr class="table-active">
                    <th scope="col">Company Name</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Action</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr class="table-light">
                        <td>{{ transaction.symbol }}</td>
                        <td>{{ transaction.company_name }}</td>
                        <td>{{ transaction.shares }}</td>
                        <td>${{ transaction.price }}</td> <!-- بررسی صحت مقدار price -->
                        <td>{{ transaction.action }}</td>
                        <td>{{ transaction.transacted }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
