{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label class="mb-3 fw-bold" for="quote">Sell Shares</label>

        <select class="form-select mx-auto w-auto mb-3" name="symbol" required>
            <option disabled selected>Symbol</option>
            {% for stock in portfolio %}
                <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}</option>
            {% endfor %}
        </select>

        <input class="form-control mx-auto w-auto mb-3" name="shares" type="number" placeholder="Shares" min="1" autocomplete="off" required>

        <button class="btn btn-primary btn-sm" type="submit">Sell</button>
    </form>

    {% if message %}
        <div class="alert alert-success mt-3" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
    {% endif %}
{% endblock %}
